<h2>Enter Monthly Data</h2>
<form method="POST" action="/predict">
    <input type="text" name="income" placeholder="Income"><br>
    <input type="text" name="house_rent" placeholder="House Rent"><br>
    <input type="text" name="food_costs" placeholder="Food Costs"><br>
    <input type="text" name="electricity" placeholder="Electricity"><br>
    <input type="text" name="gas" placeholder="Gas"><br>
    <input type="text" name="water" placeholder="Water"><br>
    <input type="text" name="misc" placeholder="Miscellaneous"><br>
    <button type="submit">Submit</button>
</form>